<p>This application genrerates QRCodes for BBC urls, that have the BBC logo embedded within them. You can see an example below of a QRCode that represents the BBC homepage url.</p>
<img src="/images/bbc.png" />
