<h1><a href="/">QRCode Generator</a></h1>
<p>Please enter your BBC url below, to have it generated into a BBC QRCode.</p>
<form id="generate" action="/generate" method="post">
  <input id='url' name='url' type='text' placeholder="Enter your bbc url here" required autofocus>
  <button id="submit" type='submit'>Generate</button>
</form>
