<!DOCTYPE html>
<html id="home" lang="en">
  <head>
    <meta charset='utf-8' />
    <title>BBC QRCode generator</title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <%= yield %>
  </body>
</html>
