<!DOCTYPE html>
<html>
  <head>
    <title>BBC QRCode generator</title>
    <!--<script type="text/javascript" src="/js/tobeadded"></script>-->
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <%= yield %>
  </body>
</html>
