<!DOCTYPE html>
<html id="home" lang="en">
  <head>
    <meta charset='utf-8' />
    <title>BBC QRCode generator</title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link href='http://fonts.googleapis.com/css?family=Lato:400,900' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div id="content">
    <%= yield %>
    </div>
    <div id="footer">
      <p>Built by <a href="http://whomwah.com">Duncan</a> in the <a href="http://www.bbc.co.uk/rd">BBC R&amp;D</a> Prototyping team.</p>
    </div>
  </body>
</html>
