<div id="header">
  <h1><a href="/">BBC QRCode:</a> Tracking them</h1>
  <p>This is a solution to be able to track the generated QRCodes. Unfortunately due to a restriction in bit.ly's API, this cannot be done automagically, so it requires a small extra piece of work from you.</p>
  <p>You first need to visit the bit.ly website and login in with a valid account (It's free). You then shorten your BBC links from there. You should end up with a bbc.in link. From the same interface you should also be able to create a custom version of this link. Create a custom version of the </p>
</div>
