body {
  font:70% 'Droid Serif', serif; 
  padding:20px;
}

h1 {
  font-size:3.2em;
  margin-bottom:0.4em;
}

p {
  width:80%;
  font-size:1.4em;
  margin-bottom:1em;
  line-height:1.5em;
}

legend {
  font-size:1.2em;
  margin-bottom:0.4em;
}

ul {
  margin-bottom:1.5em;
}

li {
  display:block;
  font-size:1.4em;
  margin-bottom:0.3em;
}

li.original {
  font-size:4em;
}

img {
  display:block;
  margin-bottom:2em;
}

form input, form button {
  font-size:1.6em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}

a {
  text-decoration: none;
  color: #06C;
  background-color: rgba(255,246,224,0.0);  
  -o-transition-property: color;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  transition-property: color;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
a:hover,
a:focus {
  color: #313192;
}
a:visited {
  background: none;
  font-weight: normal;
}

#url {
  width:500px;
  padding:2px;
  margin-right:0.2em;
}

#submit {
  padding:4px 8px;
  font-size:1.4em;
}
