body {
  font:70% 'Lato', sans-serif; 
  padding:40px 20px;
}

h1 {
  font-size:3.6em;
  margin-bottom:0.4em;
}

p {
  width:80%;
  font-size:1.8em;
  margin-bottom:1em;
  line-height:1.5em;
}

legend {
  font-size:1.2em;
  margin-bottom:0.4em;
}

ul {
  margin-bottom:1.5em;
}

li {
  display:block;
  font-size:1.4em;
  margin-bottom:0.3em;
}

li.original {
  font-size:4em;
}

img {
  display:block;
  margin-bottom:2em;
}

form {
  margin-bottom:4em;
}

form input, form button {
  font-size:2.2em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}

a {
  text-decoration: none;
  color: #06C;
  background-color: rgba(255,246,224,0.0);  
  -o-transition-property: color;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  transition-property: color;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
a:hover,
a:focus {
  color: #313192;
}
a:visited {
  background: none;
  font-weight: normal;
}

em {
  font-style:italic;
}

#menu {
  margin:0;
  font-size:1.4em;
}

#url {
  width:70%;
  padding:5px;
  margin-right:0.2em;
}

#submit {
  padding:8px 8px;
  font-size:1.8em;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 78em;
  text-align: left;
}

#about p,
#qrcode p {
  font-size:1.3em;
}

#about h3,
#qrcode h3 {
  padding-top:0.1em;
  font-size:2em;
}

#qrcode h3 {
  font-size:1.8em;
  padding-top:0.3em;
}

#about img,
#qrcode img {
  float:left;
  margin-right:1em;
  margin-bottom:3em;
}

#qrcode .info {
  float:left;
  width:50%;
}

#footer {
  font-size:0.8em;
  clear:left;
}
